.page-manage-risk {
	.row-ToolbarHeader {
		.col-actions {
			display: flex;
			align-items: stretch;
			justify-content: flex-end;
			flex-wrap: wrap;
			.iBttn:not(:last-child) {
				margin-right: .5em;
			}
		}
	}
}