.page-manage-risk {
	.row-ToolbarHeader {
		.col-actions {
			display: flex;
			align-items: stretch;
			justify-content: flex-end;
			flex-wrap: wrap;
			.iBttn:not(:last-child) {
				margin-right: .5em;
			}
		}
	}
}

@media (max-width: 1025px) {
	.page-manage-risk .row-ToolbarHeader .col-actions {
		margin-left: 8px;
		width: calc( 100% - 16px);
	}
}

@media (max-width: 737px) {
	.page-manage-risk .row-ToolbarHeader .col-actions {
		flex-direction: column-reverse;
	}
}