// $unitlist-bg: $primary-color-L600;
$unitlist-bg: #b9e1f7;
$risklist-header-height: 4em;
$risklist-header-bg: $primary-color-200;

$risklist-header-arrow: $risklist-header-height;
$risklist-header-arrow-bg: $primary-color-400;

.rafi .riskList {
	width: 100%;
	font-size: 1rem;

	// .riskList_unitList
	&_unitList {
		font-size: 1em;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		flex-wrap: nowrap;
		border-top-left-radius: .5em; 
		border-top-right-radius: .5em; 
		padding: .25em;

		width: 100%;
		background-color: $unitlist-bg;

		// .riskList_unitList_item
		&_item {
			flex-grow: 1;
			flex-shrink: 1;
			font-size: 1em;
			padding: 0 .25em;
	
			&:not(:last-child) {
				border-right: 1px solid rgba(#000,.10);
			}

			.md-icon-text {
				font-size: 1em;
				flex-grow: 0;
				font-weight: 600;
			}
			.md-icon-separator {
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 1em;
			}

			// .riskList_unitList_item_badge
			&_badge {
				min-width: 3ch;
				text-align: center;
				display: flex;
				align-items: center;
				justify-content: center;
				line-height: 1;
				font-size: .9em;
				background-color: rgba(#FFF,.5);
				color: $black;
				font-weight: bold;
				padding: .25em 0;
				border-radius: .25em;
			}

			&:hover {
				background-color: $primary-color;
				color: $white;
				.riskList_unitList_item_badge {
					color: $white;
				}
			}
		}
	}

	// .riskList_risk
	&_risk {
		width: 100%;
		font-size: 1em;
		// .riskList_risk_header
		&_header {
			width: 100%;
			height: $risklist-header-height;
			font-size: 1em;
			display: flex;
			flex-wrap: nowrap;
			background-color: $risklist-header-bg;

			.crumb {
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: flex-start;

				// .crumb_sub
				// .crumb_main
				&_sub ,
				&_main {
					font-size: 1.15em;
					margin: 0;
					font-weight: 6old;
					color: $white;
					height: 100%;
					display: flex;
					align-items: center;
					justify-content: center;
				}

				// .crumb_main
				&_main {
					position: relative;
					overflow: hidden;
					flex-shrink: 0;
					display: flex;
					align-items: center;
					justify-content: flex-start;
					.text {
						display: flex;
						align-items: center;
						justify-content: center;
						position: relative;
						height: 100%;
						background-color: $risklist-header-arrow-bg;
						z-index: 10;
						padding: .5em;
					}
					&:after {
						content: '';
						border-top: $risklist-header-arrow / 2  solid transparent;
						border-left: $risklist-header-arrow - 2 solid $risklist-header-arrow-bg;
						border-bottom: $risklist-header-arrow / 2  solid transparent;
						height: 100%;
					}
				}

				// .crumb_sub
				&_sub {
					padding: .5em;
				}
			}

			.actions {
				margin-left: auto;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 1em;

				.iBttn {
					.md-icon-text {
						font-weight: 600;
					}
				}
			}
		}

		// .riskList_risk_content
		&_content {
			background-color: $white;
			padding: 1em;

			// .riskList_risk_content_item
			&_item {
				font-size: 1rem;
				background-color: $white;
				border: .15em solid $gray-100;
				margin-bottom: 1em;
				padding: 1em;
				border-radius: .5em;
				position: relative;

				// .riskList_risk_content_item_toggler
				&_toggler {
					position: absolute;
					top: 0;
					left: 0;
					width: auto;
					height: auto;
					min-width: 0;
					font-size: 2em;
					color: $primary-color;
					.md-icon {
						display: flex;
						font-size: 1em;
					}
				}

				// .riskList_risk_content_item_expansion
				&_expansion {
					list-style: none;
					margin-top: 0;
					box-shadow: none !important;
					[role="button"] {
						display: none;
					}

					.md-panel-content {
						padding: 0;
					}
				}

				// .riskList_risk_content_item_details
				&_details {
					padding: 0 1em;
				}

			}
		}
	}
}


// =============================
// RISK PREVIEW CONTAINER
// =============================
.rafi .RiskPreview {
	> .md-grid {
		width: 100%;
	}
}

// =============================
// RISK DETAILS CONTAINER
// =============================
.rafi .RiskDetails {
	> .md-grid {
		width: 100%;
	}
}


// =============================
// RISK INFO
// =============================
.rafi .RiskInfo {
	font-size: 1rem;

	// .RiskInfo_info
	&_info {
		// .RiskPreview_info_label
		&_label {
			font-size: 1em;
			font-weight: 700;
			color: $primary-color-400;
			margin-bottom: .5em;
		}

		// .RiskPreview_info_info
		&_info {
			font-family: $font-family;
			font-size: 1em;
		}

		// .RiskInfo_info_list
		&_list {
			margin-top: 0;
			margin-bottom: 0;
			padding-left: 2em;
			font-size: 1em;

			// .RiskInfo_info_list_item
			&_item {
				margin-bottom: .5em;
				text-align: left;
				font-family: $font-family;
			}
		}
	}


	// .RiskInfo_cell
	&_cell {

		// .RiskInfo_cell-ratings
		&-ratings {
			display: flex;
			align-items: flex-start;
			justify-content: center;
		}

		// .RiskInfo_cell-actions
		&-actions {
			display: flex;
			align-items: center;
			justify-content: center;
			.md-btn {
				&:not(:last-child) {
					margin-right: .5em;
				}
			}
		}
	}
}
