.riskMap_legend {
	font-size: 1rem;
	padding: 1em;
	flex-direction: row;
	display: flex;
	align-items: center;
	justify-content: flex-start;

	.mapLegendHeader {
		font-size: 1.5em;
		line-height: 1;
		margin-bottom: .25em;
		font-weight: 600;
		color: $gray;
	}

	.mapLegend {
		font-size: 1em;
		list-style-type: none;
		padding-left: 2rem;
		width: auto;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		margin: 0;


		// .mapLegend_item
		&_item {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			margin-bottom: .15em;
			padding: 0 1rem;
			.circle {
				font-size: 1em;
				width: 1em;
				height: 1em;
				border-radius: 50%;
				margin-right: .5em;
				display: block;
			}

			.label {
				font-size: 1em;
				white-space: nowrap;
				font-weight: 600;
				font-family: $font-family;
			}

			// .mapLegend_item-low
			&-low .circle {
				background-color: $rafi-riskLegend-low;
			}
			// .mapLegend_item-moderate
			&-moderate .circle {
				background-color: $rafi-riskLegend-moderate;
			}
			// .mapLegend_item-high
			&-high .circle {
				background-color: $rafi-riskLegend-high;
			}
			// .mapLegend_item-critical
			&-critical .circle {
				background-color: $rafi-riskLegend-critical;
			}
		}
	}
}