
$menu-text-color: rgba($white,.5);
$menu-text-color-hovered: $white;
$menu-text-color-active: $white;

.nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999;
	height: $nav-height;
	background-color: $nav-bg;
	box-shadow: 0 0 .25em .5em rgba(#000,.05);
	font-size: 1rem;

	// .nav_container
	&_container {
		padding: 0 1em;
		width: 100%;
		height: 100%;

		display: flex;
		align-items: center;
		justify-content: flex-start;
		flex-wrap: nowrap;

		margin: 0 auto;
	}


	// .nav_logo
	&_logo {
		margin: auto 0;
		height: 100%;
		width: auto;
		cursor: pointer;
		padding: .5rem;
		img {
			height: 100%;
			width: auto;
		}
	}

	// .nav_actions
	&_actions {
		margin-left: auto;
		display: flex;
		align-items: stretch;
		justify-content: flex-end;
		height: 100%;
	}


	// .nav_menu
	&_menu {
		height: 100%;

		.nav_menu_list ,
		.nav_menu_list_item ,
		.nav_menu_list_item a {
			height: 100%;
		}

		// nav_menu_list
		&_list {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			flex-wrap: nowrap;
			margin: 0;
			padding-left: 0;
			list-style-type: none;

			// nav_menu_list_item
			&_item {
				position: relative;
				color: $menu-text-color;
				padding: 0 1em;
				background-color: transparent;

				// text
				a {
					position: relative;
					display: flex;
					align-items: center;
					justify-content: center;
					color: inherit;
					font-family: $font-family;
					font-weight: normal;

					&:hover, 
					&:visited {
						color: inherit;
					}
				}

				// indicator
				&:before {
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: .15em;
					display: block;
					background-color: $primary-color;
					opacity: 0;
				}

				&:hover {
					color: $menu-text-color-hovered;
				}

				&.active {
					color: $menu-text-color-active;
					&:before {
						opacity: 1;
					}
				}
			}
		}
	}


	// .nav_profile
	&_profile {
		font-size: 1em;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		padding: 0 1em;
		position: relative;


		// nav_profile_settings
		&_settings {

		}


		// nav_profile_avatar
		&_avatar {

		}

	}
}

// ==============================
// AVATAR LIST SETTINGS
// ==============================
.nav_profile .md-list {
	top: 100%;
	right: 0;
	padding-top: 0;
	padding-bottom: 0;

	// .md-list-item
	&-item {
		width: 100%;
		&:not(:last-child) {
			border-bottom: 1px solid $gray-100;
		}
	}

	// .md-list-tile
	&-tile {
		width: 100%;

		.md-tile-content--left-icon {
			font-size: 1em;
			padding-left: 1em;
		}
		.md-text {
			font-family: $font-family;
			font-weight: 600;
			font-size: 1em;
		}
		.md-icon {
			color: $primary-color;
		}
	}
}

// ==============================
// PROFILE SETTINGS
// ==============================
.nav #nav_profile_settings {
	// #nav_profile_settings-toggle
	&-toggle {
		background-color: transparent !important;
		color: $menu-text-color;
		&:hover {
			color: $primary-color;
		}
	}
}

// ==============================
// AVATAR SETTINGS
// ==============================
.nav #nav_profile_avatar {

	// #nav_profile_avatar-toggle
	&-toggle {
		display: flex !important;
		align-items: center;
		justify-content: flex-start;
		flex-direction: row;
		font-size: 1em;
		background-color: transparent !important;
	}

	.name {
		font-size: 1em;
		color: $menu-text-color;
		margin: 0 1em;
	}

	.avatar {
		width: $nav-avatar-size;
		height: $nav-avatar-size;
		border-radius: 50%;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-positon: 50% 50%;
		}
	}

	&:hover {
		.name {
			color: $menu-text-color-hovered;
		}
	}
}

.nav + main {
	padding-top: $nav-height;
}