#Comments_dialog {
	.i_dialog_body {
		overflow: visible;
	}

	.commentForm_replies {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

		.reply_empty {
			@extend %emptyStringMessage;
		}

		@media (min-height: 600px) {
			overflow-y: auto;
			max-height: calc( 100vh - 30rem);
		}
	}
}