$fieldBorder: 1px solid $gray-200;

.iField {
	border: $gray-200;
	padding: .8em;
	font-size: 1rem;
	font-family: $font-family;
	width: 100%;
	margin-top: 0;
	margin-bottom: 0em;
	// border: $fieldBorder;

	.md-floating-label {
		position: relative;
		top: 0;
		left: 0;
		margin-bottom: .5em;
		font-size: .8em;
		font-family: inherit;
		transform: none !important;
		color: $gray-300;
		width: 100%;
		text-align: left;
		display: block;
		font-weight: bold;
		letter-spacing: .15em;
		text-transform: uppercase;

		&:not([class*="--inactive"]) {
			color: $primary-color;
		}
	}

	input::placeholder {
		color: $gray-200;
	}

	.md-text-field {
		padding: .75em 1em;
		font-size: 1em;
		color: $black;
		font-family: $font-family;
		margin-top: 0;
		border: $fieldBorder;
		background-color: $white;
	}

	.md-divider {
		height: 3px;
		width: 100%;
		margin-top: -2px;
		margin-bottom: 0;
		position: relative;
		z-index: 10;
		// z-index: 10;
		// background-color: $primary-color;
		// visibility: hidden;

		&:after {
			height: 100%;
			background-color: $primary-color;
		}

		// &:before ,
		// &:after {
		// 	display: none;
		// }

		// &[class*="active"] {
		// 	visibility: visible;
		// }
	}


	// textfield with indicator
	.md-text-field--inline-indicator {
		width: 100%;
	}

	.md-text-field-inline-indicator {
		top: 3.5em;
		right: 2em;
	}

	.md-text-field-message-container {
		margin-top: .5em;
		font-size: 1em;
	}
}

.iField + .iField {
	border-top: none;
}

.iFieldRow {
	.iField + .iField {
		// border-top: $fieldBorder;
		border-left: none;
	}

	& + .iField {
		border-top: none;
	}
}
// ====================================
// react select
// ====================================
.iField-rs {
	padding: .8em;
	position: relative;

	// .iField-rs__control
	&__control {
		border: $fieldBorder;
		border-radius: 0;
		padding: 0;

		// .iField-rs__control--is-focused
		&--is-focused {
			box-shadow: none !important;
			&:before {
				content: '';
				position: absolute;
				top: 100%;
				left: 0;
				width: 100%;
				height: 3px;
				background-color: $primary-color;
			}
		}
	}

	// .iField-rs__menu
	&__menu {
		margin-top: 0;
		border-radius: 0;
		top: 100%;
		width: 100%;

		// .iField-rs__menu-list
		&-list {
			padding: 0;
			max-height: 12em;
		}

		// .iField-rs__menu__item
		&__item {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			flex-wrap: nowrap;

			.actions {
				padding-right: .25rem;
				display: flex;
				align-items: center;
				justify-content: flex-end;

				.iField-rs__option {
					flex-shrink: 1;
					white-space: nowrap;
					display: block;
					overflow: hidden;
					text-overflow: ellipsis;
				}

				> button {
					flex-shrink: 0;
					margin-bottom: .25rem;
					&:not(:last-child) {
						margin-right: .25rem;
					}
				}
			}

			&.selected {
				background-color: $primary-color-L900;
				.iField-rs__option {
					color: darken($primary-color,10%);
					font-weight: 600;
					background-color: transparent !important;
				}
			}
		}
	}

	// .iField-rs__indicators
	&__indicators {


	}

	// .iField-rs__indicator-separator
	&__indicator-separator {
		display: none;
	}

	// .iField-rs__option--is-focused
	&__option--is-focused {

	}
}

// ====================================
// datepicker
// ====================================
.iField {
	.react-datepicker-wrapper ,
	.react-datepicker__input-container ,
	.react-datepicker__input-container input {
		width: 100%;
	}

	.react-datepicker__input-container {
		input {
			border: none;
			outline: none !important;
			font-size: 1rem;
			font-family: $font-family;
			min-height: 2.5em;
			border: $fieldBorder;
			width: 100%;
			padding: .8em;
		}
	}
}

// ====================================
// datepicker field
// ====================================
.iField_date {
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
}

// ====================================
// datepicker range
// ====================================
.iField-range {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: nowrap;
	.iField_date:not(:last-child) {
		margin-right: 1em;
	}
}

// ====================================
// selection group
// ====================================
.iField-selectionGrp {
	min-width: 0 !important;
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
	height: auto;
	min-height: 0 !important;
	font-size: 1rem;
	margin-left: 0 !important;
	padding: 0;
	margin-bottom: 1em;

	legend {
		width: 100%;
		font-size: 1rem;
		text-align: left;
		color: $primary-color-400;
		font-weight: 600;
		padding: .5em;
		margin-bottom: .5em;
		padding: 0;

		legend {
			font-size: 1rem;
			font-weight: 700;
			color: $primary-color-400;
		}

		em {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			font-style: normal;
			padding: .25rem;
			color: darken($secondary-color, 05%);
			font-weight: normal;
			padding-left: 1rem;
			width: 100%;
			background-color: lighten($secondary-color, 45%);
			border-left: .25rem solid $secondary-color;
		}
	}



	.md-selection-control-container {
		height: auto;
		margin-bottom: .5em;
		padding-left: 1em;
		.md-selection-control-label {
			width: 100%;
			height: auto;
			display: flex;
			align-items: flex-start;
			justify-content: flex-start;
			font-size: 1em;

			// button
			.md-fake-btn[role="radio"] {
				color: $darkgray;
				font-size: 1em;
				width: auto;
				height: auto;
				padding: .15em;

				.md-icon {
					display: flex;
					align-items: center;
					justify-content: center;
				}

				&[aria-checked="true"] {
					color: $primary-color;
				}
			}

			// label
			> span {
				padding-top: .1em;
				padding-left: .5em;
				font-size: 1em;
				color: $black;
				font-weight: 600;
				text-align: left;
			}
		}
	}
}

// ====================================
// multifield
// ====================================
.iField.md-text-field-container--multiline {
	.md-text-field-multiline-container {
		margin-top: 0;
	}

	.md-divider {
		margin-top: -5px;
	}
} 

// ====================================
// multifields
// ====================================
.iFieldMultiversion {
	font-size: 1rem;
	width: 100%;
	margin-bottom: 1em;

	// .iFieldMultiversion_label
	&_label {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		padding: 1em;
		background-color: $table-header-bg;
		font-size: 1em;
		line-height: 1;
		color: $primary-color-400;
		font-weight: 600;
		border-bottom: .15em solid $primary-color;
		margin-bottom: 0;
	}

	// .iFieldMultiversion_list
	&_list {
		// .iFieldMultiversion_list_item
		&_item {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-wrap: nowrap;
			padding: 0 1em;

			&:nth-child(even) {
				background-color: $lightgray;
			}

			// .iFieldMultiversion_list_item_remove
			&_remove {
				flex-shrink: 0;
			}

			// .iFieldMultiversion_list_item_field
			&_field {
				flex-grow: 1;
				flex-shrink: 1;

				.iField .md-divider {
					display: none;
				}
			}
		}
	}

	// .iFieldMultiversion_add
	&_add {
		width: 100%;
		border: none;
		text-align: center;
		background-color: $c_gray-100,;
		border-radius: 0;
		padding: 1em;
		font-size: 1em;
		color: $primary-color-400;

		&:hover ,
		&.md-btn--hover {
			background-color: darken($c_gray-100,5%);
		}

		.md-icon-separator {
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
		}

		.md-icon-text {
			font-weight: 600;
			flex-grow: 0;
		}
	}
}

// ====================================
// multifields
// ====================================
.selectAutoComplete {
	font-size: 1rem;
	width: 100%;
	max-width: 300px;

	// .selectAutoComplete_label
	&_label {
		margin-bottom: .5em;
		font-size: .8em;
		font-family: inherit;
		transform: none !important;
		color: $gray-300;
		width: 100%;
		text-align: left;
		display: block;
		font-weight: bold;
		letter-spacing: .15em;
		text-transform: uppercase;
		margin-bottom: 0;
		padding: 0 .8em;
	}

	

	// .selectAutoComplete-sm
	&-sm {
		max-width: 150px;
	}
}


// ====================================
// search
// ====================================
.iField-search {
	.md-text-field-icon-container {
		position: relative;
	}

	.md-text-field-icon--positioned {
		position: absolute;
		top: 0;
		left: 0;
		width: 48px;
		height: 100%;
		line-height: 1;
		font-size: 2rem;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	.md-text-field-divider-container {
		margin-left: 0;
		.md-text-field {
			padding-left: 48px;
			border: none;
			font-size: 1.25rem;
			font-weight: 600;
		}
		.md-divider {
			display: none;
		}
	}

}