$table-header-bg: $table-header-bg;
$table-header-text: $primary-color-200;

.iTable {
	font-size: 1em;
	font-family: $font-family;
	overflow: visible;
	position: relative;


	.md-data-table {
		background-color: $white;
	}

	// cells
	.md-table-column {
		font-size: 1em;
		font-family: $font-family;
		color: $black;
		height: auto;
		padding: 1em;
	}

	// header
	.md-table-header {
		font-size: 1em;
		background-color: $table-header-bg;
		color: $black;
		height: auto;

		.md-table-column {
			font-weight: bold;
			color: $table-header-text;
			border-bottom: .15em solid $primary-color;
		}
	}

	// body
	.md-table-body {
		> div:first-child {
			position: absolute;
			top: 100%;
			left: 0;
			width: 100%;
			text-align: center;
			opacity: .5;
		}

		.md-table-column {
			padding: .25em 1em;
		}
	}
}




%squareCell {
	width: 48px;
	max-width: 48px;
	height: 48px;
}

.tableRiskMap {
	table-layout: fixed;

	.md-table-header {
		background-color: $primary-color-600;

		.md-table-column {
			padding: 1em .5em !important;
			color: #FFF;
		}
	}

	.md-table-column {
		padding: 0 !important;
	}

	&_risk-index {
		@extend %squareCell;

		.impact-financial {
			@extend %squareCell;
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			font-weight: bold;
			font-size: 1.25em;
		}
	}

	&_risk-level {
		@extend %squareCell;

		.level {
			@extend %squareCell;
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			font-weight: bold;
			font-size: 1.25em;
			color: #FFF;

			&-low {
				background-color: $rafi-riskLegend-low;
			}

			&-moderate {
				background-color: $rafi-riskLegend-moderate;
			}

			&-high {
				background-color: $rafi-riskLegend-high;
			}

			&-critical {
				background-color: $rafi-riskLegend-critical;
			}
		}
	}

	&_risk-name {
		span {
			width: 100%;
			padding: 0 1em;
		}
	}

	&_risk-vc {
		@extend %squareCell;
	}

}