$table-header-bg: $table-header-bg;
$table-header-text: $primary-color-200;

.iTable {
	font-size: 1em;
	font-family: $font-family;
	overflow: visible;
	position: relative;


	.md-data-table {
		background-color: $white;
	}

	// cells
	.md-table-column {
		font-size: 1em;
		font-family: $font-family;
		color: $black;
		height: auto;
		padding: 1em;
	}

	// header
	.md-table-header {
		font-size: 1em;
		background-color: $table-header-bg;
		color: $black;
		height: auto;

		.md-table-column {
			font-weight: bold;
			color: $table-header-text;
			border-bottom: .15em solid $primary-color;
		}
	}

	// body
	.md-table-body {
		> div:first-child {
			position: absolute;
			top: 100%;
			left: 0;
			width: 100%;
			text-align: center;
			opacity: .5;
		}

		.md-table-column {
			padding: .25em 1em;
		}
	}
}