$table-header-bg: $table-header-bg;
$table-header-text: $primary-color-200;

.iTable {
	font-size: 1em;
	font-family: $font-family;
	overflow: visible;
	position: relative;


	.md-data-table {
		background-color: $white;
	}

	// cells
	.md-table-column {
		font-size: 1em;
		font-family: $font-family;
		color: $black;
		height: auto;
		padding: 1em;
	}

	// header
	.md-table-header {
		font-size: 1em;
		background-color: $table-header-bg;
		color: $black;
		height: auto;

		.md-table-column {
			font-weight: bold;
			color: $table-header-text;
			border-bottom: .15em solid $primary-color;
		}
	}
	// body
	.md-table-body {
		.md-table-column {
			padding: .25em 1em;
		}
	}

}

// if empty
.iTable-empty {
	padding-bottom: 4rem;
	.md-data-table {
		position: relative;
	}

	.md-table-body {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		display: flex;
		background-color: #fff;
		padding: .75em;

		> div:first-child {
			width: 100%;
			text-align: center;
			opacity: .5;
		}
	} 
}



